<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tje.food">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="더조은미슐랭"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ShowStoreList" />
        <activity android:name=".ShowStoreInfo" />
        <activity android:name=".ShowMoreReviewListActivity" />
        <activity android:name=".WriteReviewActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".KeywordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DaumPostCodeActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".MyPageUpdateActivity" />
        <activity android:name=".SimpleReviewDetailActivity" />
        <activity android:name=".MenuType.Hansik" />
        <activity android:name=".MenuType.Jungsik" />
        <activity android:name=".MenuType.Ilsik" />
        <activity android:name=".MenuType.Pizza" />
        <activity android:name=".MenuType.Yangsik" />
        <activity android:name=".MenuType.Bunsik" />
        <activity android:name=".MenuType.Coffee" />
        <activity android:name=".Model.IntroPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VisitLog"></activity>
    </application>

</manifest>